<form action="/landmarks" method="post">
  <input type="text" name="landmark[name]" placeholder="name" id="landmark_name">
  <input type="text" name="landmark[year_completed]" placeholder="year completed" id="landmark_year_completed">
  <input type="submit" id="Create New Landmark" value="Create New Landmark">
</form>
